<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.AccountDao">

    <!-- 这个id要和dao中的函数名称一一对应，resultType代表了查询的结果，要和数据库类型一一对应 -->
    <select id="selectById" resultType="com.mobilecourse.backend.model.Account">
        SELECT * FROM Test WHERE id=#{id}
    </select>

    <select id="login" resultType="java.lang.Integer">
        select count(*) from Account where username=#{username} and password=#{pwd}
    </select>

    <!-- parameterType指定了参数类型 -->
    <insert id="insert"  keyProperty="id" useGeneratedKeys="true" parameterType="com.mobilecourse.backend.model.Account">
        INSERT INTO Account
        <trim prefix="(" suffix=")" suffixOverrides="," >
            id, email, password, nickname, signature, avatar
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
            #{id}, #{email}, #{password}, #{nickname}, #{signature}, #{avatar}
        </trim>;
    </insert>

    <!-- 有返回值的一定要指定返回值类型！ -->
    <select id="testCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM Account
    </select>


    <!-- 输入的参数要用#{}包裹,且与dao里面传入的参数一样 -->
    <delete id="delete">
        DELETE FROM Account
        WHERE id=#{id}
    </delete>

    <!-- 更新操作 -->
    <update id="updatePwd">
        UPDATE Account
        SET password=#{pwd}
        WHERE id=#{id}
    </update>

</mapper>