<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.AccountDao">

    <select id="test" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM account;
    </select>

    <!--
    1. 登录：根据username和password选择符合条件的用户
    如果登录成功，返回account的相关信息
    -->
    <select id="login" resultType="com.mobilecourse.backend.entity.Account">
        select * from account where username=#{username} and password=#{pwd}
    </select>

    <!--2. 注册
        需要指定email和password.
        username需要唯一
    -->
    <insert id="register"  keyProperty="id" useGeneratedKeys="true" parameterType="com.mobilecourse.backend.entity.Account">
        INSERT INTO account
        <trim prefix="(" suffix=")" suffixOverrides="," >
            username, email, password, nickname, signature, avatar
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
            #{username}, #{email}, #{password}, #{nickname}, #{signature}, #{avatar}
        </trim>;
    </insert>

    <!--3.
        给定用户名，获取其follows的相关信息
    -->
    <select id="getFollowers" resultType="com.mobilecourse.backend.entity.Account">
        SELECT * FROM account where account.username in
        (SELECT follow FROM follow where follow.username=account.username);
    </select>
</mapper>