<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.ErrandDao">

    <insert id="createErrand" parameterType="com.mobilecourse.backend.entity.Errand">
        INSERT INTO
        errand(uuid,username,created,content,fromAddr,toAddr,sfromAddr,stoAddr,ddlTime,bonus,phone,details)
        VALUES(#{uuid},#{username},#{created},#{content},#{fromAddr},#{toAddr},#{sfromAddr},#{stoAddr},#{ddlTime},#{bonus},#{phone},#{details});
    </insert>

    <select id="getErrands" resultType="com.mobilecourse.backend.entity.Errand">
        SELECT * FROM errand
        WHERE username=#{username}
    </select>

    <select id="getIndexErrands" resultType="com.mobilecourse.backend.entity.Errand">
        SELECT * FROM errand
        WHERE created &lt; #{time}
        order by created desc
        limit #{num};
    </select>

    <select id="getTakeErrands" resultType="com.mobilecourse.backend.entity.Errand">
        SELECT * FROM errand
        WHERE taker=#{taker}
    </select>

    <update id="modifyErrand" parameterType="com.mobilecourse.backend.entity.Errand">
        UPDATE errand
        SET created=#{created},fromAddr=#{fromAddr},toAddr=#{toAddr},sfromAddr=#{sfromAddr},stoAddr=#{stoAddr},ddlTime=#{ddlTime},phone=#{phone},details=#{details}
        where uuid=#{uuid}
    </update>

    <update id="takeErrand" parameterType="com.mobilecourse.backend.entity.Errand">
        UPDATE errand
        SET taker=#{taker},takeTime=#{takeTime}
        WHERE uuid=#{uuid}
    </update>

    <update id="finishErrand" parameterType="com.mobilecourse.backend.entity.Errand">
        UPDATE errand
        SET finishTime=#{finishTime}
        WHERE uuid=#{uuid}
    </update>

    <delete id="deleteErrand" parameterType="java.lang.String">
        DELETE FROM errand
        WHERE uuid=#{uuid}
    </delete>

    <select id="queryErrand" resultType="com.mobilecourse.backend.entity.Errand">
        SELECT * FROM errand
        <where>
            <if test="fromAddr != null and fromAddr != ''">
                and (fromAddr like concat('%', #{fromAddr}, '%') or sfromAddr like concat('%', #{fromAddr}, '%'))
            </if>
            <if test="toAddr != null and toAddr != ''">
                and (toAddr like concat('%',#{toAddr}, '%') or stoAddr like concat('%',#{toAddr}, '%'))
            </if>
            <if test="minBonus != null and minBonus != ''">
                and bonus >= #{minBonus}+0.0
            </if>
            <if test="maxBonus != null and maxBonus != ''">
                and bonus &lt;=#{maxBonus}+0.0
            </if>
            <if test="strLike != null and strLike != ''">
                and content like concat('%', #{strLike}, '%')
            </if>
        </where>
    </select>

</mapper>