<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.PostDao">
    <select id="getIndexPosts" resultType="com.mobilecourse.backend.entity.Post">
        select * from post where created &lt;= #{time} limit #{num};
    </select>
    
    <select id="getPosts" parameterType="java.lang.String" resultType="com.mobilecourse.backend.entity.Post">
        select * from post where username=#{username}
    </select>

    <select id="getPost" parameterType="java.lang.String" resultType="com.mobilecourse.backend.entity.Post">
        select * from post where uuid=#{uuid}
    </select>


    <insert id="createPost" parameterType="com.mobilecourse.backend.entity.Post">
        INSERT INTO post(uuid,username,created,content) VALUES(#{uuid},#{username},#{created},#{content});
    </insert>

    <update id="modifyPost" parameterType="com.mobilecourse.backend.entity.Post">
        UPDATE post
        SET content=#{content},created=#{created}
        WHERE uuid=#{uuid}
    </update>

    <delete id="deletePost" parameterType="java.lang.String">
        DELETE FROM post
        WHERE uuid=#{uuid}
    </delete>
</mapper>