<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.ReplyDao">
    <select id="getReplies" resultType="com.mobilecourse.backend.entity.Reply">
        SELECT * FROM reply WHERE parent=#{parent} order by created desc
    </select>

    <insert id="createReply" parameterType="com.mobilecourse.backend.entity.Reply">
        INSERT INTO
        errand(uuid,username,created,content,parent)
        VALUES(#{uuid},#{username},#{created},#{content},#{parent});
    </insert>

    <delete id="deleteReply" parameterType="java.lang.String">
        DELETE FROM reply
        WHERE uuid=#{uuid}
    </delete>
</mapper>